@model FoodTruckPlus.ViewModels.MenuCreationViewModel

@using (Html.BeginForm("SaveMenuItem", "Menu"))
{
    <div class="form-group">
        @Html.LabelFor(Model => Model.MenuItem.ItemName)
        @Html.TextBoxFor(Model => Model.MenuItem.ItemName)
    </div>

    <div class="form-group">
        @Html.LabelFor(Model => Model.MenuItem.Description)
        @Html.TextBoxFor(Model => Model.MenuItem.Description)
    </div>

    <div class="form-group">
        @Html.LabelFor(Model => Model.MenuItem.Price)
        @Html.TextBoxFor(Model => Model.MenuItem.Price)
    </div>

    <div class="col-sm-4">
        <h3>Ingredients</h3>
        @foreach (var el in Model.Ingredients)
        {<div>
            @el.IngredientItem
        </div>
        }
    </div>
        
    <div class=" col-sm-8">
        @Html.Partial("_IngredientForm", Model)
    </div>
    <buttom typeof="submit" class="btn btn-primary">Save Menu Item</buttom>
}
