@model FoodTruckPlus.ViewModels.MenuCreationViewModel
@{
                /**/

                ViewBag.Title = "MenuForm";
}

<h2>Edit Menu</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Menu Item</th>
            <th>Description</th>
            <th>Price</th>
            <th>Ingredients</th>


        </tr>
    </thead>
    <tbody>

        @foreach (var el in Model.MenuItems)
        {
        <tr>
            <td>@el.ItemName</td>
            <td>@el.Description</td>
            <td>@Convert.ToString(el.Price)</td>
            @if (@Model.IngredientMenuItemIds.Contains(el.Id))
            {
        <td>
            <ul>
                @foreach (var ingredient in Model.Ingredients.Where(i => i.MenuItemId == el.Id))
                {

            <li>
                @ingredient.IngredientItem
            </li>
                }

            </ul>
        </td>
            }
            else
            {
        <td>
            @Html.ActionLink("Add Ingredients", "EditMenuItem", new { id = el.Id })
        </td>
            }

        </tr>
        }

    </tbody>
</table>


<div>
    @using (Html.BeginForm("SaveMenuItem", "Menu"))
{
<div class="form-group">
    @Html.LabelFor(Model => Model.MenuItem.ItemName)
    @Html.TextBoxFor(Model => Model.MenuItem.ItemName, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(Model => Model.MenuItem.Description)
    @Html.TextBoxFor(Model => Model.MenuItem.Description, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(Model => Model.MenuItem.Price)
    @Html.TextBoxFor(Model => Model.MenuItem.Price, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(Model => Model.Ingredient.IngredientItem)
    @Html.TextBoxFor(Model => Model.Ingredient.IngredientItem, new { @class = "form-control" })
</div>


@Html.HiddenFor(Model => Model.Ingredients)
@Html.HiddenFor(Model => Model.FullMenu.Id)
@Html.HiddenFor(Model => Model.MenuItems)
@Html.HiddenFor(Model => Model.IngredientMenuItemIds)

<button type="submit" class="btn btn-primary">Save Menu Item</button>
}
</div>

@*<div class="row">
        <div class="col-sm-4">
            <h3>Ingredients</h3>
            @foreach (var el in Model.Ingredients)
            {<div>
                    @el.IngredientItem
                </div>
            }
        </div>

        <div class=" col-sm-8">
            @using (Html.BeginForm("AddIngredient", "Menu", Model))
        {
            <div class="form-group">
                @Html.LabelFor(Model => Model.Ingredient.IngredientItem)
                @Html.TextBoxFor(Model => Model.Ingredient.IngredientItem, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(Model => Model.Ingredient.IngredientItem)
                @Html.TextBoxFor(Model => Model.Ingredient.IngredientItem, new { @class = "form-control" })
            </div>

            @Html.HiddenFor(Model => Model.Ingredients)
            @Html.HiddenFor(Model => Model.FullMenu.Id)
            @Html.HiddenFor(Model => Model.MenuItems)
            @Html.HiddenFor(Model => Model.MenuItem)
            <button type="submit" class="btn btn-primary">Add Ingredient</button>

    }

        </div>


    </div>*@


<div class="wrapper">
    <select class="editableBox">
        <option value="1">01:00</option>
        <option value="2">02:00</option>
        <option value="3">03:00</option>
        <option value="4">04:00</option>
        <option value="5">05:00</option>
        <option value="6">06:00</option>
        <option value="7">07:00</option>
        <option value="8">08:00</option>
        <option value="9">09:00</option>
        <option value="10">10:00</option>
        <option value="11">11:00</option>
        <option value="12">12:00</option>
        <option value="13">13:00</option>
        <option value="14">14:00</option>
        <option value="15">15:00</option>
        <option value="16">16:00</option>
        <option value="17">17:00</option>
        <option value="18">18:00</option>
        <option value="19">19:00</option>
        <option value="20">20:00</option>
        <option value="21">21:00</option>
        <option value="22">22:00</option>
        <option value="23">23:00</option>
        <option value="24">24:00</option>
    </select>
    <input class="timeTextBox" name="timebox" maxlength="5" />
</div>

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(document).ready(function () {

            $(".editableBox").change(function () {
                $(".timeTextBox").val($(".editableBox option:selected").html());
            });
        });
    </script>
}