@model FoodTruckPlus.ViewModels.MenuCreationViewModel
@{
    /**/

    ViewBag.Title = "MenuForm";
}

<h2>Edit Menu</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Menu Item</th>
            <th>Description</th>
            <th>Price</th>
            <th>Ingredients</th>


        </tr>
    </thead>
    <tbody>

        @foreach (var el in Model.MenuItems)
        {
            <tr>
                <td>@el.ItemName</td>
                <td>@el.Description</td>
                <td>@Convert.ToString(el.Price)</td>
                @if (@Model.IngredientMenuItemIds.Contains(el.Id))
                {
                    <td>
                        <ul>
                            @foreach (var ingredient in Model.Ingredients.Where(i => i.MenuItemId == el.Id))
                            {

                                <li>
                                    @ingredient.IngredientItem
                                </li>
                            }

                        </ul>
                    </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("Add Ingredients", "EditMenuItem", new { id = el.Id })
                    </td>
                }

            </tr>
        }

    </tbody>
</table>


<div>
    @using (Html.BeginForm("SaveMenuItem", "Menu"))
    {
        <div class="form-group">
            @Html.LabelFor(Model => Model.MenuItem.ItemName)
            @Html.TextBoxFor(Model => Model.MenuItem.ItemName, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(Model => Model.MenuItem.Description)
            @Html.TextBoxFor(Model => Model.MenuItem.Description, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(Model => Model.MenuItem.Price)
            @Html.TextBoxFor(Model => Model.MenuItem.Price, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(Model => Model.Ingredient.IngredientItem)
            @Html.TextBoxFor(Model => Model.Ingredient.IngredientItem, new { @class = "form-control" })
        </div>


        @Html.HiddenFor(Model => Model.Ingredients)
        @Html.HiddenFor(Model => Model.FullMenu.Id)
        @Html.HiddenFor(Model => Model.MenuItems)
        @Html.HiddenFor(Model => Model.IngredientMenuItemIds)
        <div class="col-sm-4">
            <button type="submit" class="btn btn-primary">Save Menu Item</button>
        </div>

        <div class="col-sm-4">
            @Html.ActionLink("Preview", "Menu", "Menu", new { id = Model.FullMenu.Id }, new { @class = "btn btn-primary" })
        </div>


        <div class="col-sm-4">
            @Html.ActionLink("Delete", "DeleteMenu", "Menu", new { id = Model.FullMenu.Id }, new { @class = "btn btn-primary" })
        </div>

    }
</div>

   