@model IEnumerable<FoodTruckPlus.Dtos.OrderDto>
@{
                /**/

                ViewBag.Title = "Orders";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Orders</h2>

<table id="orders" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Number</th>
            <th>Price</th>
            <th>Time Purchased</th>
            <th>Time Desired Ready</th>
            <th>Menu Items Ordered</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>
                                @String.Format("{0:C}", order.Price)
                            </td>
                <td>@order.TimePurchased</td>
                <td>@order.TimeDesiredReady</td>
                <td>
                    @foreach (var el in (@order.MenuItems.Split(',').ToList()))
                    {
                <ul>
                    <li>@el</li>
                </ul>
                    }          
                </td>
                <td>
                <button data-order-id="@order.Id" class="btn-link js-delete">Delete</button>
                </td>
                    
        </tr>
        }
    </tbody>
</table>



@section scripts {
    <script>

        $(document).ready(function () {

            $("#orders").DataTable();

            $("#orders").on("click", ".js-delete", function () {
                var button = $(this);
               
                    $.ajax({
                        url: "/api/orders" + button.attr("data-order-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                        }

                    });
                
            });
        });


    </script>
}